* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./pictures/abstract-3866486_1920.jpg");
  background-size: contain;
  background-attachment: fixed;
}

/* navbar */

.heat .container {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 2rem;
}
.container {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}

.my-name {
  font-weight: 700;
  font-style: oblique;
  font-family: "Latin Modern Roman 10";
  font-size: 35px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: left;
  color: rgb(255, 255, 255);
  text-align: justify;
  text-shadow: 2px 1px 10px rgb(3, 3, 3);
}
.a {
  position: left;
  color: rgb(55, 67, 88);
}
.nab {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: row;
}

.nv {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  color: rgb(9, 20, 39);
  font-size: 16px;
  line-height: 10%;
  text-transform: uppercase;
  padding: 10px 20px;
  font-family: "Work Sans", sans-serif;
}

/* my intro */

.abome {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  margin-top: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.abm {
  width: 100%;
  display: flex;
  margin: 50px 0px;
}

.pict img {
  width: 350px;
  height: 550px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  margin-right: 30px;
}

.titrosa {
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: rgb(22, 30, 44);
  text-align: center;
}

.leftt {
  background: rgb(249, 208, 253);
  padding: 50px 50px;
}
.pqint {
  font-family: Roboto;
  font-size: 20px;
  font-style: oblique;
  font-weight: 150;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: justify;
  justify-items: center;
  margin: auto;
  padding: 5px;
  margin-top: 5px;
  color: rgb(17, 22, 32);
  text-decoration-style: solid;
}

/* fot part */

.fot {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 90%;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 10px;
  position: relative;
  background: rgb(245, 209, 247);
  z-index: 1;
  flex: 0 0 auto;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.fott {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
}

.myinf {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  text-align: center;
}

.folww {
  font-size: 18px;
  line-height: 20%;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: rgb(8, 31, 66);
  text-align: center;
  max-width: none;
  position: center;
  text-shadow: 10px;
}

.social {
  width: 46px;
  height: 66px;
  padding: 10px;
  border: 2px;
  margin-left: 9px;
}

/* section experience*/

.my-nme {
  font-weight: 700;
  font-style: oblique;
  font-family: "Latin Modern Roman 10";
  font-size: 35px;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: left;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-left: 40px;
  text-shadow: 2px 1px 10px rgb(3, 3, 3);
}
.scca {
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  flex: 0 0 auto;
  max-width: 950px;
  margin: auto;
  padding: 60px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.cont {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: oblique;
  text-align: center;
  letter-spacing: 0.03em;
  display: ruby;
  text-decoration-style: solid;
  line-height: 30px;
  text-decoration-color: rgb(1, 15, 39);
}

.markt,
.Desig,
.Cmmgr {
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  flex: 0 0 auto;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  margin-top: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  background: rgb(245, 209, 247);
  margin-left: 30px;
}

.markt,
.Desig,
.Cmmgr {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 200;
  font-style: oblique;
  text-align: justify;
  letter-spacing: 0.03em;
  display: ruby;
  text-decoration-style: solid;
  line-height: 25px;
}

/* section about me */

.cntabot {
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  flex: 0 0 auto;
  max-width: 950px;
  margin: auto;
  padding: 60px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  background-image: url("./pictures/abstract-3866486_1920.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
}

.btcont {
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.03em;
  display: ruby;
  text-decoration-style: solid;
  line-height: 25px;
}
.personl {
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  flex: 0 0 auto;
  max-width: 1000px;
  margin: auto;
  padding: 60px;
  margin-top: 100px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  margin-left: 30px;
  background: rgb(245, 209, 247);
  font-family: sans-serif;
  font-size: 17px;
  font-weight: 200;
  font-style: oblique;
  text-align: center;
  letter-spacing: 0.03em;
  display: ruby;
  text-decoration-style: solid;
  line-height: 25px;
}
h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 200;
  font-style: oblique;
  text-align: center;
  letter-spacing: 0.03em;
  display: ruby;
  text-decoration-style: solid;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  padding: 10px;
}

h1 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 200;
  font-style: oblique;
  text-align: center;
  letter-spacing: 0.03em;
  display: ruby;
  text-decoration-style: solid;
  line-height: 25px;
  text-align: center;
  padding: 20px;
  text-decoration-line: underline;
}

span {
  color: rgb(59, 55, 2);
}

/* comments*/
.container {
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
  padding: 10px;
}
